<!DOCTYPE HTML>
<div ng-app="KlisheApp">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Тест Klishe.ru</title>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://cdn.fablab61.ru/angular-multi-select-4.0.0/isteven-multi-select.css">

  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="http://cdn.fablab61.ru/angular-multi-select-4.0.0/isteven-multi-select.js"></script>
  <script type="text/javascript" src="logic.js"></script>


 </head>

 <body>


 	<div class="container">
 		<div class="row">
 			<div class="col-md-6">
 				<h1>Отчёт по услугам</h1>
 				<p>Показываются только те услуги, для которых прописаны компании</p>
 				<div ng-controller="ShowReport">
 					<ul>
 						<li ng-repeat="x in report">{{x.name}}
 							<ul>
 								<li ng-repeat="y in x.companies">{{y.name}}</li>
 							</ul>
 						
 						</li>
 					</ul>

 			<!-- 		<div class="alert alert-warning" role="alert">{{report}}</div> -->
 				</div>
 			</div>
 			<div class="cold-md-6">
 				<h1>Отчёт по компаниям</h1>
 			</div>
 		</div>

 		<div class="row">
 			<div class="col-md-6">
 				<h1>Добавить компании по услуге</h1>
	 			<div ng-controller="AddByServiceCtrl">
	 				Выберите услугу:<br>
	 				<select  class="form-control input-lg" ng-options="x.name for x in services"  ng-model="selectedService"></select>
	 				<br>
	 				Компании которые её делают:
	 				<div isteven-multi-select input-model="companies" output-model="selectedCompanies"
	 				button-label="icon name"
	 				item-label="icon name maker"
	 				tick-property="ticked">
	 				</div>

	 			<button class="form-control" ng-click="update()">Добавить</button>

	 			<div class="alert alert-warning" role="alert">
		 			Selected service: {{selectedService}}<br>
		 			Selected companies_for_service: {{selectedCompanies}}<br>
		 			{{update_request}}<br>
		 			{{server}}<br>
		 		</div>

				</div>
			</div>
		</div>
	</div>



 </body>
</html>