<!DOCTYPE HTML>
<html ng-app="TestEmail">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Test proxy server</title>
  <link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css">
  <script type="text/javascript" src="angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/1.1.6/angular-file-upload.min.js"></script>
  <script type="text/javascript">
  (function() {
	  var app = angular.module('TestEmail', ['angularFileUpload'] );

	  app.controller('EmailCtrl', function($scope, $http, $log, FileUploader) {
	  	$scope.uploader = new FileUploader();
        $scope.uploader.url = "/file";
	  	$scope.submit = function(){		
	  		var api_url = '/mail';
	  		// пройтись по всем параметрам и засунуть их в объёкт
	  		var u_data = new Object();
		  	u_data.email = $scope.to;
		  	u_data.subject = $scope.subject;
		  	u_data.mail_body = $scope.mail_body;
	  		$http({method: 'POST', url: api_url , params: u_data }).success(function(response) { $scope.server = response });
         };
	  });

	})();
  </script>
</head>

 <body>
 	<div class="container">
 			<div ng-controller="EmailCtrl" class="jumbotron">
	 				To: <input type="email" ng-model="to"><br>
	 				Subject: <input type="text" ng-model="subject"><br>
	 				Body: <textarea type="text" ng-model="mail_body"></textarea><br>
	 				<input type="file" nv-file-select uploader="uploader" />
	 				
	 				<ul>
				        <li ng-repeat="item in uploader.queue">
				          Name: <span ng-bind="item.file.name"></span>
				          <br/>
				          <button ng-click="item.upload()">upload</button>
				        </li>
			      	</ul>
			       <button ng-click="uploader.uploadAll()">Upload All</button>

	 			<button ng-click="submit()">Поехали</button>
	 			<br><br>
	 			Email will be: {{to}} - {{subject}} - {{mail_body}}<br>
	 			Status: {{server}}
		    </div>
    </div>
 </body>
</html>