<!DOCTYPE HTML>
<div ng-app="KlisheApp">

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Тест Klishe.ru</title>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://cdn.fablab61.ru/angular-multi-select-4.0.0/isteven-multi-select.css">

  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="http://cdn.fablab61.ru/angular-multi-select-4.0.0/isteven-multi-select.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-calendar/1.0.0/calendar.min.js"></script>
  <script type="text/javascript" src="logic.js"></script>


 </head>

 <body>


 	<div class="container">
 			<div ng-controller="ServicesCtrl" class="jumbotron">
 				<form class="form-horizontal">

 					<div class="row form-group">
				        <label for="klishe_type" class="col-sm-2 control-label">Файл модели</label>
				        <div class="col-sm-10">
						    <input type="file" id="exampleInputFile">
				        </div>
				        <p class="help-block">Если у вас есть готовый эскиз для клише вложите его сюда</p>
		        	</div>

		 			<div class="row form-group">
				        <label for="klishe_type" class="col-sm-2 control-label">Вид клише</label>
				        <div class="col-sm-10">
				        	<select id="klishe_type" class="form-control input-lg" ng-options="x.name for x in services"  ng-model="selectedService" ng-change="changecompanies()" ng-init="x[0].name"></select>
				        </div>
		        	</div>

		        	 <div class="form-group">
				        <label for="comment" class="col-sm-2 control-label">Комментарий</label>
				        <div class="col-sm-10">
				          <textarea id="comment" class="col-sm-10 form-control input-lg" rows="3" ng-model="comments"></textarea>
				        </div>
				    </div>

				    <div class="form-group">
				        <label for="comment" class="col-sm-2 control-label">Готовый заказ нужен до:</label>
				        <div class="col-sm-10">
				          <input id="date" type="date" class="col-sm-10 form-control input-lg" ng-model="date">
<!-- 							<div style="display:inline-block; min-height:290px;">
								<datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
							</div> -->
				        </div>
				    </div>

				    <div class="row form-group">
				        <label for="klishe_type" class="col-sm-2 control-label">Ваша страна</label>
				        <div class="col-sm-10">
				        	<select id="country" class="form-control input-lg" ng-options="x.name for x in countries"  ng-model="selectedCountry" ng-change="changecompanies()" ng-init="x[0].name"></select>
				        </div>
		        	</div>

				    <div class="form-group">
				        <label for="email" class="col-sm-2 control-label">Ваш email</label>
				        <div class="col-sm-10">
				    		<input id="email" type="email" class="form-control input-lg" ng-model="email">
				    	</div>
				    </div>

				    <div class="form-group">
				        <label for="phone" class="col-sm-2 control-label">Ваш телефон</label>
				        <div class="col-sm-10">
				    		<input id="phone" type="phone" class="form-control input-lg" ng-model="phone">
				    	</div>
				    </div>

				    <div class="form-group">
				        <label for="phone" class="col-sm-2 control-label">Введите цифры с картинки</label>
				        <div class="col-sm-3">
				        	<img ng-src="{{captcha}}" />
				        </div>
				        <div class="col-sm-7">
				    		<input id="phone" type="phone" class="form-control input-lg" ng-model="captcha">
				    	</div>
				    </div>

				      <div class="alert alert-info" role="alert">Сайт автоматически выберет 3 лучшие компании и отправит им запрос или же вы можете <a href="" ng-click="manual_choice=true">выбрать их сами</a>
					  </div>

					<div     
				    isteven-multi-select
				    input-model="companies"
				    output-model="selectedCompanies"
				    button-label="icon name"
				    item-label="icon name maker"
				    tick-property="ticked"
				    ng-show="manual_choice && companies.length" class="form-group"></div>   

					<button type="button" class="btn btn-success btn-lg pull-right" ng-click="submit()">Поехали!</button>

					<br>
					{{selectedCountry}}
					<br>
					{{selectedCompanies}}
					{{form-data}}
					{{email}}
					{{phone}}
					<br>
					{{update_request}}<br>
					<div ng-model="update_request">{{update_request}}</div>
					<div ng-model="update_request"></div>
					{{email}}

				</form>
		    </div>
    </div>




 </body>
</html>