<!DOCTYPE HTML>

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Klishe.ru App</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="isteven-multi-select.css">
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="ui-bootstrap-tpls-0.13.4.min.js"></script>

  <script type="text/javascript" src="isteven-multi-select.js"></script>
  <script type="text/javascript" src="calendar.min.js"></script>
  <script type="text/javascript" src="logic_new.js"></script>
 </head>

<body ng-app="KlisheApp">

 	<div class="container">
 			<div class="jumbotron">
 				Доступно: <b>{{klishe.available_companies.length}}</b> компаний в <b>{{klishe.countries.length}}</b> странах мира, которые изготавливают <b>{{klishe.types.length}}</b> типов клише
 				<div style="margin-top:30px;"></div>

 				<klishe-type></klishe-type>

 				<order-fields></order-fields>
 				
 				<country-select></country-select>
 				
 				<h3>Выберите не более 5 компаний куда отправить запрос</h3>
 				<companies-select></companies-select>
 				
 				<div style="margin-top:30px;"></div>
 				<ya-captcha></ya-captcha>
 				
 				<submit-btn></submit-btn>
 				
 				<klishe-debug></klishe-debug>
 			</div>
    </div>

</body>

</html>