<!DOCTYPE HTML>
<html ng-app="TestApp" >

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Тест Klishe.ru</title>
  <script type="text/javascript" src="angular.min.js"></script>
 </head>

 <body>

 <div ng-controller="ServicesCtrl">
    <select ng-options="x.name for x in services"  ng-model="selectedService"></select> 
    <br>
    {{selectedService}}<br>
    {{selectedService.id}}<br>
    <select ng-options="x.name for x in companies"  ng-model="selectedCompany" ng-show="selectedService"></select> 
<!--     <select>
      <option ng-repeat="x in services">{{x.name}}</option>
    </select> -->
    
 </div>



 </body>


 <script type="text/javascript">
 (function(){

    var app = angular.module('TestApp', []);
    var url = "http://127.0.0.1:3000";

    app.controller('ServicesCtrl', function($scope, $http, $log) {
        $scope.selectedService = false;
        $http.get(url+'/all_services').success(function(response) {$scope.services = response});
        if ($scope.selectedService.id) {
          $http.get(url+'/service/'+$scope.selectedService.id).success(function(response) {$scope.selectedCompany = response});
        }
    });
     
  })(); 
  </script>
</html>