<div class="row">

	<div class="col-md-4">
		<img ng-init="captcha_update()" ng-click="captcha_update()" ng-src="{{klishe.captcha.img}}" alt="Description" />
		<button class="form-control" ng-click="captcha_update()">Обновить</button>
	</div>

	<div class="col-md-4">
		Введите цифры с картинки слева: <input type="text" ng-model-options="{ updateOn: 'blur' }" ng-change="captcha_check()" ng-model="klishe.captcha.user_value">
	</div>
</div>