Доступно: <b>{{klishe.available_companies.length}}</b> компаний<br>
Выбрано: <b>{{klishe.selected_companies.length}}</b> компаний

<div     
	isteven-multi-select
	input-model="klishe.available_companies"
	output-model="klishe.selected_companies"
	button-label="name"
	item-label="name"
	tick-property="ticked"
	>
</div>