<div class="row form-group">
	<label for="klishe_type" class="col-sm-2 control-label">Ваша страна</label>
	<div class="col-sm-10">
		<select id="country" class="form-control input-lg" ng-options="country for country in klishe.countries"  ng-model="klishe.selected_country" ng-change="change_country()" ng-init="country[1]"></select>
	</div>
</div>