<h2>Debug info</h2>

<accordion>

	<accordion-group heading="$scope.klishe">
	{{klishe}}
	</accordion-group>

	<accordion-group heading="$scope.klishe.types">
	{{klishe.types}}
	</accordion-group>

	<h3>$scope.klishe.selected_type</h3>
	{{klishe.selected_type}}

	<h3>$scope.klishe.countries</h3>
	{{klishe.countries}}

	<h3>$scope.klishe.country_codes</h3>
	{{klishe.country_codes}}

	<h3>$scope.klishe.selected_country</h3>
	{{klishe.selected_country}}

	<h3>$scope.klishe.selected_country_plus_code</h3>
	{{klishe.selected_country_plus_code}}

	<accordion-group heading="$scope.klishe.available_companies">
	{{klishe.available_companies}}
	</accordion-group>

	<h3>$scope.klishe.selected_companies</h3>
	{{klishe.selected_companies}}

	<h3>$scope.klishe.captcha</h3>
	{{klishe.captcha}}

	<h3>$scope.klishe.mails</h3>
	{{klishe.mails}}

</accordion>