<div class="row form-group">
	<label for="klishe_type" class="col-sm-2 control-label">Файл модели</label>
	<div class="col-sm-10">
		<input type="file" id="exampleInputFile">
	</div>
	<p class="help-block">Если у вас есть готовый эскиз для клише вложите его сюда</p>
</div>


<div class="row">
	<div class="col-md-3">
		<div class="row form-group">
			<label for="comment" class="col-sm-6 control-label">Готовый заказ нужен до:</label>
			<div class="col-sm-10">
				<input id="date" type="date" class="col-sm-6 form-control input-lg" ng-model="klishe.date">
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="row form-group">
			<label for="comment" class="col-sm-2 control-label">Комментарий</label>
			<div class="col-sm-10">
				<textarea id="comment" class="col-sm-10 form-control input-lg" rows="3" ng-model="klishe.comments"></textarea>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-6">
		<div class="row form-group">
			<label for="email" class="col-sm-2 control-label">Ваш email</label>
			<div class="col-sm-10">
				<input id="email" type="email" class="form-control input-lg" ng-model="klishe.email">
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="row form-group">
			<label for="phone" class="col-sm-2 control-label">Ваш телефон</label>
			<div class="col-sm-10">
				<input id="phone" type="phone" class="form-control input-lg" ng-model="klishe.phone">
			</div>
		</div>
	</div>
</div>