<div class="row form-group">
	<label for="klishe_type" class="col-sm-2 control-label">Вид клише</label>
	<div class="col-sm-10">
		<select id="klishe_type" class="form-control input-lg" ng-options="x.name for x in klishe.types"  ng-model="klishe.selected_type" ng-change="change_klishe_type()" ng-init="x[0].name"></select>
	</div>
</div>